body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

span{
  color: midnightblue;
}

footer {
  text-align: right;
  color: midnightblue;
}
h1 {
  font-size: 5rem;
}

.tile-image{
  height:13rem;
  float: left;
  margin-right: 5%;
}

.left-card,.right-card{
  margin: 0;
  padding: 0;
  border: 0;
  display: inline-block;
  width: 42%;
}
.left-card{
  float: left;
}

.right-card{
  float: right;
}

.right-card{
  margin-left: 15%;
}

h2,p{
  display: block;
}

@media screen and (max-width:600px){
  .tile-image{
    width: 100%;
  }

  .left-card,.right-card{
    margin: 0;
    padding: 0;
    border: 0;
    display: inline-block;
    width: 100%;
  }
}